<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SympliSketchPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>Sympli.SympliSketchPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SympliSketchPlugin</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7B1005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A278</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>Intercom</key>
	<dict>
		<key>APIKey</key>
		<string>e6d33920360bf29d45e37b1284d89a1ef9927ae3</string>
		<key>AppID</key>
		<string>lilh3zkf</string>
		<key>AppParam</key>
		<string>sk</string>
		<key>MessagesURL</key>
		<string>https://api.intercom.io/messages</string>
		<key>UsersURL</key>
		<string>https://api.intercom.io/users</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Sympli. All rights reserved.</string>
	<key>SympliBaseURL</key>
	<string>https://app.sympli.io</string>
	<key>SympliBundleLinkPart</key>
	<string>%@/app#!/projects/%@</string>
	<key>SympliScalingConfig</key>
	<dict>
		<key>mobile</key>
		<array>
			<dict>
				<key>dpi</key>
				<array>
					<dict>
						<key>name</key>
						<string>mdpi</string>
						<key>value</key>
						<real>1</real>
					</dict>
					<dict>
						<key>name</key>
						<string>hdpi</string>
						<key>value</key>
						<string>1.5</string>
					</dict>
					<dict>
						<key>name</key>
						<string>xhdpi</string>
						<key>value</key>
						<string>2.0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>xxhdpi</string>
						<key>value</key>
						<string>3.0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>xxxhdpi</string>
						<key>value</key>
						<string>4.0</string>
					</dict>
				</array>
				<key>name</key>
				<string>android</string>
			</dict>
			<dict>
				<key>dpi</key>
				<array>
					<dict>
						<key>name</key>
						<string>@1x</string>
						<key>value</key>
						<real>1</real>
					</dict>
					<dict>
						<key>name</key>
						<string>@2x</string>
						<key>value</key>
						<string>2.0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>@3x</string>
						<key>value</key>
						<string>3.0</string>
					</dict>
				</array>
				<key>name</key>
				<string>ios</string>
			</dict>
			<dict>
				<key>dpi</key>
				<array>
					<dict>
						<key>name</key>
						<string>1x</string>
						<key>value</key>
						<real>1</real>
					</dict>
					<dict>
						<key>name</key>
						<string>2x</string>
						<key>value</key>
						<string>2.0</string>
					</dict>
					<dict>
						<key>name</key>
						<string>3x</string>
						<key>value</key>
						<string>3.0</string>
					</dict>
				</array>
				<key>name</key>
				<string>web</string>
			</dict>
		</array>
	</dict>
	<key>SympliUpgradeURL</key>
	<string>https://app.sympli.io/download/sketch</string>
</dict>
</plist>
